# Configuration file

clipboard {
    I:0 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        114
        111
        99
        107
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        24
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        99
        111
        98
        98
        108
        101
        115
        116
        111
        110
        101
        63
        3
        0
        1
        115
        0
        0
        0
        1
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        124
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        64
        22
        73
        -50
        79
        74
        -54
        73
        45
        46
        -55
        -49
        75
        -75
        103
        96
        104
        96
        -7
        15
        4
        -20
        64
        -56
        -64
        -64
        80
        -49
        -128
        5
        -128
        -28
        25
        64
        112
        64
        -27
        31
        -4
        103
        120
        -64
        0
        -62
        15
        32
        -94
        76
        40
        -14
        -20
        32
        53
        12
        96
        63
        96
        -43
        79
        72
        30
        108
        7
        -61
        127
        -100
        -14
        15
        64
        -10
        51
        60
        32
        91
        -2
        -128
        61
        16
        42
        -128
        -79
        -62
        1
        -122
        3
        64
        -47
        7
        120
        -27
        31
        32
        65
        90
        -53
        3
        0
        48
        -47
        -75
        22
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:1 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        114
        111
        99
        107
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        24
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        99
        111
        98
        98
        108
        101
        115
        116
        111
        110
        101
        63
        3
        0
        1
        115
        0
        0
        0
        1
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        57
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        64
        22
        73
        -50
        79
        74
        -54
        73
        45
        46
        -55
        -49
        75
        -75
        103
        96
        120
        -61
        -4
        31
        9
        48
        96
        1
        -93
        -14
        -61
        71
        30
        0
        -120
        -119
        -49
        74
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:2 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        114
        111
        99
        107
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        24
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        99
        111
        98
        98
        108
        101
        115
        116
        111
        110
        101
        63
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        70
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        64
        22
        73
        -50
        79
        74
        -54
        73
        45
        46
        -55
        -49
        75
        -75
        103
        96
        104
        96
        -7
        63
        10
        6
        51
        -8
        -114
        87
        -10
        35
        30
        -7
        -33
        64
        -4
        -32
        -1
        79
        -68
        -6
        31
        -4
        -1
        13
        0
        -50
        -55
        13
        83
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:3 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        114
        111
        99
        107
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        24
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        99
        111
        98
        98
        108
        101
        115
        116
        111
        110
        101
        63
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        56
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        64
        22
        73
        -50
        79
        74
        -54
        73
        45
        46
        -55
        -49
        75
        -75
        103
        96
        104
        96
        -7
        -113
        7
        -20
        -1
        63
        10
        -122
        59
        0
        0
        100
        -125
        13
        125
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


